# Detect text files and perform LF normalization
* text=auto

# Show SQL files as SQL
*.sql linguist-detectable=true

# Show Java files as Java
*.java linguist-detectable=true

# Show JavaScript files as JavaScript
*.js linguist-detectable=true

# Show XML files as xml
#*.xml linguist-detectable=true
